@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif;
	}
	 h1{
	  font-family: "Arial Black", sans-serif;
	  margin-top: 5em;
	  align: center;
	  font-size: 1.5em;
	  text-align: center;
	  letter-spacing: 2px;
	  background-color: #0fabbc;
	  color: white;
	 }
	 sub{
	 	font-size: 0.5em;
	 }

	div {
		align-content: center;
		font-size       : 1.5em;
		text-align      : center;
		background-color: #0fabbc; /* Green */
	}
	button{
		font-size       : 1.5em;
		background-color: #0fabbc; /* Green */
		border          : none;
		color           : white;
		padding         : 15px 32px;
		text-align      : center;
		text-decoration : none;
		font-size       : 16px;
	}
	button:hover {
        background: #0b1721;
        -webkit-box-shadow: 0 0 4px 2px #0b1721;
        box-shadow: 0 0 4px 2px #0b1721;
        transition: 0.4s;
        transition-delay: 0.2s;
    }


	body{
		
		color: #e4f9ff;
		/*display: inline-grid;*/
		justify-content: center;
		
		align-items: center;
		background: #0b1721;
	}
	.form{
		padding-top: 0;
		font-size: 1.5em;
		width: 100%;
		height: 50px;
		position: relative;
		overflow: hidden;
	}
	input[type=number]::-webkit-inner-spin-button {
  	-webkit-appearance: none;
	}
	.form input{
		text-align: center;
		input-style:none;
		font-size: 1em;
		width: 100%;
		height: 100%;
		background: none;
		color: #fff;
		padding: 0;
		border: none;
		outline: 0px;
	}
	.form .lbl-nombre{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-bottom: 1px solid #c7c7c7;
	}
	.form .lbl-nombre:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 100%;
		border-bottom: 3px solid #2ecece;
		transform: translateX(-100%);
		transition: all 0.3s ease;
	}
	.text-nomb{
		position: absolute;
		bottom: 5px;
		left: 0;
		transition: all 0.3s ease;
		color: #fff;
	}
	.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
		transform: translateY(-150%);
		font-size: 14px;
		color: #2ecece;
	}
	.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
		transform: translateX(0%);
	}
	@media only screen and (min-width:320px) and (max-width:768px){
	 .form{
		width:85%;
	}
		}